
<%- include tpl/header.ejs %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-jumbotoron">
					<div class="jumbotron">
						<h1>Welcome</h1>
						<p>
							This is my first attempt of creating a NodeJS web application :)


						</p>
						<a href="/user/login" class="btn btn-lg btn-info">&raquo; Click here to login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include tpl/footer.ejs %>